fastapi
uvicorn
python-multipart
numpy==1.26.4
opencv-python==4.5.4.60
pillow
scikit-image
torch
torchvision
svgpathtools
svgwrite
cssutils
timm
lpips
tqdm
huggingface_hub
matplotlib
scipy
cmake
numba
torch-tools
scikit-fmm
easydict
visdom
imageio-ffmpeg
ffmpeg-python
